*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header>h1{
    text-align: center;
    padding: 1rem;
}

main div.container{
    width: 40%;
    margin: 0 auto;
    background-color: orangered;
}

div.container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

div.container h2{
    text-align: center;
    padding: 1rem;
}